body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
h3{
    margin: 0;
    padding: 0;
    align-self: center;
}
h5{
    margin: 0;
    padding: 0;
}
.sidebar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 20vw;
    padding: 20px;
}
.horizontalbox{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.file{
    
    justify-content: space-around;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.draw-button{
    width: 40%;
}
.objectPreview{
    align-self: flex-start;
}
.pointPreview{
    margin-left: 50px;
}
.colorpk{
    width: 1px;
    height: 1px;
}

.help {
	display: none; 
	position: fixed; 
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); 
	background-color: rgba(0,0,0,0.4);
}

.help h2{
	color: peru;
}

/* Modal Content/Box */
.help-content {
	background-color: #f2f2f2;
	margin: auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	/* column-count: 2; */
}

.close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
} 